* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "PT Sans", Calibri, sans-serif;
  overflow-x: hidden;
}

.header{
  border: 1px solid black;
  display: flex;
  justify-content: space-between;
  margin: 10px;
}

.logo{
  width:75px;
  padding-left: 10px;
  
}

.nav-items > ul{
  display:flex;
  width: auto;
}

.nav-items > ul> li{
  list-style-type: none;
  padding:10px;
  font-size: large;
  cursor: pointer;
  text-decoration: none !important;
}



/*  Body CSS*/
.restaurant-list{
  width: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content:center;
}

.card{
  width: 240px;
  border-radius: 5px;
  box-shadow: -1px 5px 10px 5px rgba(112,112,112,.2);
  padding: 10px;
  margin: 20px;
  cursor: pointer;
  text-decoration: none;
}

.card > img{
  width: 100%;
  border-radius: 10px;
}

.card>h5 {
  font-weight: lighter;
}

.card > span{
  display: flex;
  justify-content: space-between;
}

 .card > span > h4{
  text-align: center;
  color: var(--light-text-title);
    margin-top: 10px;
    padding: 0 2px;
    font-size: 14px;
    font-weight: bolder;
} 

.card > span > h4:first-child{
  /* display: flex; */
  align-items: center;
  /* background-color: rgb(19, 176, 1); */
  border-radius: 5px;
  padding: 0 5px 0;
  color:black;
}

.card > span > h4:first-child .fa-star{
  font-size: small;
  padding: 0 5px 3px 0;
}


/* Restaurant Menu */

.RestaurantHeader_container__2XRhv {
    margin: 0 16px;
}

.RestaurantHeader_wrapper__2GTdS {
  padding-top: 16px;
}

.RestaurantHeader_marginBottom__1rbfK {
  margin-bottom: 18px;
}

.RestaurantNameAddress_wrapper__24l_g {
  display: inline-block;
  margin-right: 16px;
  width: calc(100% - 120px);
}

.RestaurantNameAddress_areaWrapper__3HIxj {
  display: flex;
  align-items: center;
  height: 16px;
}

.RestaurantRatings_wrapper__2294i {
  border: 1px solid #e9e9eb;
  box-shadow: 0 1px 5px #f9f9f9;
  border-radius: 6px;
  text-align: center;
  padding: 8px;
  max-width: 100px;
  float: right;
}

.RestaurantHeader_dottedSeparator__2O2hU {
    border: none;
    border-bottom: 1px dashed #d3d3d3;
}

.RestaurantHeader_marginBottom__1rbfK {
    margin-bottom: 18px;
}

*, :after, :before {
  margin: 0;
  /* padding: 0; */
  /* box-sizing: inherit; */
  /* -webkit-text-size-adjust: none; */
  /* -webkit-tap-highlight-color: transparent; */
  -ms-text-size-adjust: none;
  /* outline: none; */
}
user agent stylesheet
hr {
  display: block;
  unicode-bidi: isolate;
  margin-block-start: 0.5em;
  margin-block-end: 0.5em;
  margin-inline-start: auto;
  margin-inline-end: auto;
  overflow: hidden;
  border-style: inset;
  border-width: 1px;
}
body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  font-weight: 300;
  color: #282c3f;
}
.fonts-loaded {
  font-family: ProximaNova,arial,Helvetica Neue,sans-serif;
  letter-spacing: 0;
}
html {
  box-sizing: border-box;
  font-family: arial,Helvetica Neue,sans-serif;
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: -.5px;
  -moz-font-smoothing: antialiased;
  -webkit-font-smoothing: antialiased;
}
html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
*, :after, :before {
  margin: 0;
  /* padding: 0; */
  /* box-sizing: inherit; */
  /* -webkit-text-size-adjust: none; */
  /* -webkit-tap-highlight-color: transparent; */
  -ms-text-size-adjust: none;
  /* outline: none; */
}

.RestaurantHeader_marginBottom__1rbfK {
  margin-bottom: 18px;
  font-size: 16px;
}

.RestaurantNameAddress_name__2IaTv{
  font-size: 25px;
  font-weight: 600;
}

.RestaurantTimeCost_wrapper__3YXF9 {
  color: #3e4152;
  font-size: 15px;
  font-weight: 700;
}

.RestaurantTimeCost_item__2HCUz:first-child {
  margin-right: 24px;
}

.RestaurantTimeCost_item__2HCUz {
  display: inline-block;
}


.item-img{
  width:150px;
  height:100px
}

.item-img> img{
  width: 100%;
  border-radius: 10px;
}















.shimmer-container {
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
  justify-content: center;
}
.shimmer-card {
  flex-basis: 240px;
  padding: 10px;
  margin-bottom: 10px;
  border-color: #d3d5df;
  box-shadow: 0 4px 7px 0 rgba(66, 73, 107, 0.6);
}
.shimmer-title {
  width: 60%;
  margin-top: 10px;
}
.shimmer-tags {
  width: 80%;
  margin-top: 4px;
}
.shimmer-details {
  width: 100%;
  margin-top: 18px;
}
.shimmer-container .shimmer-img {
  height: 144px;
  width: 230px;
  background-color: grey;
}


/* Footer CSS*/

.footer{
  margin: 10px;
  width: auto;
  text-align: center;
  background-color: rgb(1, 163, 144);
  padding: 20px 10px 20px;
  border-radius: 5px;
  box-shadow: -1px 4px 20px 14px rgba(0, 0, 0, 0.2);
}

.footer > i{
  padding: 0 5px 0;
  font-size: smaller;
}

.fa-heart{
  color: darkred;
}

.footer > strong{
  padding-left: 5px;
}

.footer > strong > span{
  color: rgb(203, 54, 0)
}


.search-btn{
  margin:5px;
}

.search-container{
  margin-left:40px;
}